<!--<img src="DSCF5490.jpg" class="img-circle" alt="Circular Image" style="height: 200px; width: 150px">
-->

<% if flash[:contact_success] %>
    <div class="alert alert-success" style="margin-top: -40px; margin-bottom: 40px">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:contact_success] %>
    </div>
<% end %>

<div class="classname">
  <img src="img1.jpg" class="img-circle" alt="Circular Image" style="height: 180px; width: auto; margin-top: 3%; margin-left: 2%">
    <div class="accordion" style="margin-left: 50%; margin-top: -22%; font-family: Allura; font-size: 50px"> <u> About Me</u></div>

    <div class="accordion" style="margin-left: 30%; margin-right: 2%; margin-top: 5% ; font-family: Consolas; font-size: 16px; text-wrap: normal">
      <p style="font-family: Consolas">  <b>Hi!</b> I am a Junior, Computer Science and Engg. Undergraduate at <a href="http://iitmandi.ac.in" target="_blank" style="color: #002a80">IIT Mandi</a> and
      a member of <a href="http://acm.org" target="_blank" style="color: #002a80">ACM</a> Student Community. My interest, primarily, lies in the field of
      Algorithm Design, Networking Solutions and Web Development. </p>

      <p style="font-family: Consolas">I am very passionate about learning in and exploring the areas of Machine Learning and Big Data
      and I look forward to work in these fields in future too.
      </p>

      <p style="font-family: Consolas">
      In my free time, I like blogging, solve Mathematical puzzles on Project Euler and participate in timed and untimed programming
        contest, notable <a href="http://codeforces.com/profile/saurabh.coder" target="_blank" style="color: #002a80">Codeforces</a> and
        <a href="http://codechef.com/users/saurabhskj" target="_blank" style="color: #002a80"> Codechef</a> etc., and
        <a href="http://spoj.com/users/saurabhskj" target="_blank" style="color: #002a80">SPOJ</a> respectively.

      </p>

    </div>

</div>
