<div class="" style="margin-top: -20px ;margin-left: 100px; margin-right: 100px; background-color: transparent; height: auto; border-color: transparent">
  <div  style="font-family: 'Gabriel'; text-align: center; text-decoration: underline ;font-size: 30px;"> Projects</div>

  <div class="row" style="padding-top: 3%; margin-left: 5%; margin-right: 5%">
    <ul>
      <div class="accordion" style="font-family: Consolas ;font-size: 16px;">
        Below are the list of projects that I have completed or I am working on.
      </div>
    </ul>
  </div>

  <div class="tabbable" style="margin-left: 7%; margin-right: 7%; margin-top: 20px; margin-bottom: 40px ;border-color: rgb(0, 133, 177)"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" style="dborder-color: slategrey; ">
      <li class="active"><a href="#internship" data-toggle="tab" style="text-align: center; font-size: 15px;">Internship</a></li>
      <li><a href="#academic" data-toggle="tab" style="text-align: center; font-size: 15px;">Academic/Other</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="internship">
          <div class="accordion" style="text-wrap: normal">
            <ul>
              <div style="font-size: 15px">
                <p style="font-family: 'Consolas';">
                <div style="font-family: Georgia">In addition to the below mentioned projects, I am a SDE <b>Summer'14</b> Intern at <b>Amazon IDC - Hyderabad</b>.</div>
                </p>
              </div>
              <br/>
              <li style="font-size: 15px">
                <p style="font-family: 'Consolas';">
                    <div style="font-family: Georgia">Full Stack Developer   -   <a href="http://redcarpetup.com" style="color: rgb(0, 42, 128)">RedCarpet</a> <div style="text-align: right; margin-top: -20px">Dec'13-Feb'14 </div></div>
                </p>

                <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                  <li>
                    Built the web framework for a start up to accommodate different kinds of users - Customers, Merchants, etc.,
                    developed the relationship between them and created different level of transactions.
                  </li>
                  <li>
                    Optimally Designed and Developed the database to achieve Gamification- awarding points to Customers for each different kind of
                    activity completed like Registration, Redemption of points, etc.
                  </li>

                  <li>
                      Defined rules engine to automatically send the mails to a segment of users using MailChimp API. Transaction emails sent using Amazon SES.
                  </li>

                  <li>
                      REST API to execute a set of operations like create users, etc. on the database level and to connect with desktop app.
                    Used HMAC to check the authenticity of message passed in the request.
                  </li>
                  <li>
                    <b>Technologies/APIs Used</b> - Ruby on Rails, Amazon SES, MailChimp.

                  </li>
                 <!--   <li>Build the web framework that have multiple kinds of users. Each user like Customer, Merchant, etc. performs its individual set of functions.
                    </li>
                  <li>
                    Optimally Designed and Developed the databases for various kinds of transactions like Re
                  </li>
                  -->
                </ul>
              </li>

              <br/>

              <li style="font-size: 15px">
                <p style="font-family: 'Consolas';">
                    <div style="font-family: Georgia">Implementing Continuous Monitoring of Commercial Website   -   <a href="http://shopclues.com" style="color: rgb(0, 42, 128)">ShopClues</a> <div style="text-align: right; margin-top: -20px">Dec'12-Jan'14 </div></div>
                </p>
                <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                  <li>Developed a software that checks the vital statistics of the commercial website on predefined intervals.
                  </li>
                  <li>Displayed the system response time for various components using redundant inclusions in the graph.
                  </li>
                  <li>Implemented the Mail Service Java API to automate the process of sending reports in case of any failure.
                  </li>
                  <li><b>Technologies Used </b> - Java framework (J2SE and J2EE web services), Selenium, Maven, ANT, TestNG,
                  Eclipse, CentOS- Platform. </li>

                  <li><b>Github</b> - <a href="https://github.com/saurabhskj/Selenium-Scripts" style="color: rgb(0, 42, 128)">https://github.com/saurabhskj/Selenium-Scripts</a> </li>
                </ul>
              </li>

              <br/>

              <li style="font-size: 15px">
                <p style="font-family: 'Consolas';">
                    <div style="font-family: Georgia">Problem Setter at Mettl's recruitment process  -   <a href="http://mettl.com" style="color: rgb(0, 42, 128)">Mettl</a> <div style="text-align: right; margin-top: -20px">Nov'13-Present </div></div>
                </p>
                <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                  <li>Hired by Mettl, an online assessment and testing platform, as a problem setter to create challenging problems that are
                    used<br/> by IT companies to hired candidates.
                  </li>
                </ul>
              </li>
              <br/>


            </ul>
          </div>

      </div>

      <div class="tab-pane" id="academic">

        <div class="accordion" style="text-wrap: normal">
          <ul>
            <li style="font-size: 15px">
              <p style="font-family: 'Consolas';">
                <div style="font-family: Georgia">Building an Online Judge with problem recommendation system -  BTP <div style="text-align: right; margin-top: -20px">Feb'14-Present </div></div>
              </p>
              <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                <li>Please visit <a href="https://gist.github.com/saurabhskj/11035859" style="color: rgb(0, 42, 128)">https://gist.github.com/saurabhskj/11035859</a> for detailed description of the project. </li></ul>
            </li>

            <br/>

            <li style="font-size: 15px">
              <p style="font-family: 'Consolas';">
              <div style="font-family: Georgia">Improvements and Enhancements for Plasma Media Center (FOSS) -   <a href="http://kde.org" style="color: rgb(0, 42, 128)">KDE</a> <div style="text-align: right; margin-top: -20px">April'13 </div></div>
              </p>

              <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                <li>Aimed to develop a software which embeds functionalities of other softwares like music player, Image
                viewer, etc.
                </li>
                <li>Added features like easy shuffle, swipe to delete etc to the music player.
                </li>
                <li>Analysed the dependencies between different functionalities and did bug fixes.
                </li>
                <li><b>Technologies used</b> – Linux (platform), Qt/QML, C++, Qt Creator.
                </li>
              </ul>
            </li>

            <br/>

            <li style="font-size: 15px">
              <p style="font-family: 'Consolas';">
              <div style="font-family: Georgia">Automatic Navigation Tool for Impaired Person -   <a href="http://iitmandi.ac.in" style="color: rgb(0, 42, 128)">IIT Mandi</a> <div style="text-align: right; margin-top: -20px">Feb'13-Jun'13 </div></div>
              </p>

              <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                <li>Developed a device that could guide a blind person from one place to another safely.
                </li>
                <li>Automated the whole process by incorporating GPS device.
                </li>
                <li>Designed and implemented the algorithms to track the user's location, navigate him along the desired path
                and alert in case <br/> of any obstacle.
                </li>
                <li><b>Technologies Used</b> – C++ , Arduino.
                </li>
              </ul>

            </li>

            <br/>

            <li style="font-size: 15px">
              <p style="font-family: 'Consolas';">
              <div style="font-family: Georgia">Configuring High-Availability Linux on cluster - <a href="http://iitmandi.ac.in" style="color: rgb(0, 42, 128)">IIT Mandi</a> <div style="text-align: right; margin-top: -20px">Oct'12-Nov'12 </div></div>
              </p>

              <ul style="list-style-type: circle; font-size: 13px; font-family: 'lucida console'; text-wrap: normal; margin-right: 120px">
                <li>
                Developed a system that is continuously operational for desirable period of time.
                </li>
                <li>Demonstrated the continued operation of the web server in the face of system and network failures.
                </li>
                <li>Discovered the situations in which fail over gets delayed or does not work.
                </li>
                <li>Technologies used – Linux (platform), Heartbeat, Pacemaker. </li>
              </ul>

            </li>

            <br/>
          </ul>
        </div>

      </div>
    </div>
  </div>

</div>



